# Problem 1

In [24]:

import csv

germplasm = open('Germplasm.tsv', 'r')
locus = open('LocusGene.tsv', 'r')


data_germplasm = []
data_locus = []

with germplasm as file:
    reader = csv.reader (file, delimiter = "\t")
    for row in reader:
        data_germplasm.append(row[0]) 
        
with locus as file:
    reader = csv.reader (file, delimiter = "\t")
    for row in reader:
        data_locus.append(row[0])
        

if data_germplasm == data_locus:
    print("The AGI Locus Code sequence list are the same in both files")
else:
    print("The lists are not equal")

The AGI Locus Code sequence list are the same in both files


# Problem 2: Design and create the database.

    It should have two tables - one for each of the two data files.
    The two tables should be linked in a 1:1 relationship
    you may use either sqlMagic or pymysql to build the database

In [5]:
%load_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [10]:

%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [11]:
%sql create database germplasm;
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [12]:
%sql use germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [13]:
%sql CREATE TABLE germplasm(locus VARCHAR (50) NOT NULL PRIMARY KEY, germplasm VARCHAR (100) NOT NULL, phenotype VARCHAR (1000) NOT NULL, pubmed INTEGER NOT NULL);
%sql DESCRIBE germplasm
%sql CREATE TABLE locusgene(locus VARCHAR (50) NOT NULL PRIMARY KEY, gene VARCHAR(10) NOT NULL, proteinlength INTEGER NOT NULL);
%sql DESCRIBE locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(50)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('proteinlength', 'int(11)', 'NO', '', None, '')]

In [26]:
%sql DESCRIBE locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(50)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('proteinlength', 'int(11)', 'NO', '', None, '')]

In [34]:
import csv

locus_data = csv.DictReader(Locusgene, delimiter = "\t", quotechar = '"')

germplasm_data = csv.DictReader(Germplasm, delimiter = "\t", quotechar = '"')

import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)
try:
    with connection.cursor() as cursor:
        for row in locus_file:
            sql = """INSERT INTO locusgene' (locus, gene, proteinlength) 
            VALUES ('{}', '{}', '{}');""".format(row["Locus"], row["Gene"], row["ProteinLength"])
            cursor.execute(sql) 
            
        for row in germplasm_file:
            sql = """INSERT INTO germplasm (locus, germplasm, phenotype, pubmed)
            VALUES ('{}', '{}', '{}', '{}');""".format(row["Locus"], row["germplasm"], row["phenotype"], row["pubmed"])
            cursor.execute(sql) 
            
    connection.commit()
       
        
finally:
    connection.close() 
    Locusgene.close() 
    Germplasm.close()

TypeError: argument 1 must be an iterator

In [22]:
%sql SELECT * FROM locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [ ]:
%sql SELECT * FROM germplasm

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

In [35]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('germplasm',), ('locusgene',)]

In [36]:
report1 = %sql SELECT * FROM germplasm RIGHT JOIN locusgene ON \
    germplasm.locus = locusgene.locus

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.